<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<!-- Default box -->
<div th:fragment="content" class="box box-primary">
    <p style="text-align: center; color: crimson; font-weight: bold" th:text="${messages}"></p>
    <div class="box-header with-border">
        <h3 class="box-title">Lista de Clientes</h3>
        <div class="box-tools pull-right">
        </div>
    </div>
    <div class="box-body no-padding">
        <table class="table table-stripped table-responsive table-hover" id="tCliente">
            <thead>
            <tr>
                <th>Id</th>
                <th>Nome</th>
                <th>Email</th>
                <th>Profissão</th>
                <th>Telefone</th>
                <th>Situacao</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="cliente : ${clientes}">
                <td th:text="${cliente.id}"></td>
                <td th:text="${cliente.nome}"></td>
                <td th:text="${cliente.email}"></td>
                <td th:text="${cliente.profissao}"></td>
                <td th:text="${cliente.telCelular}"></td>
                <td th:text="${cliente.situacao}"></td>
                <td>
                    <div class="btn-group pull-right">

                        <a th:href="@{/cliente/update/{id}(id=${cliente.id})}" data-toggle="tooltip" title="Editar" class="btn btn-primary btn-sm">
                            <i class="fa fa-pencil margin-r-5"></i></a>

                        <a class="btn btn-danger btn-sm" data-toggle="tooltip" title="Habilitar/Desabilitar" th:href="@{/cliente/delete/{id}(id=${cliente.id})}">
                            <i class="fa fa-trash-o margin-r-5"></i></a>

                        <a class="btn btn-primary btn-sm" data-toggle="tooltip" title="Visualizar" th:href="@{/cliente/view/{id}(id=${cliente.id})}">
                        <i class="fa fa-search margin-r-4" ></i></a>
                        <!--<a class="btn btn-primary btn-sm"  th:href="@{/cliente/reabilitar/{id}(id=${cliente.id})}">-->
                            <!--<i class="fa fa-recycle margin-r-4" ></i></a>-->
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="box-footer">
        <a class="btn btn-success btn-sm" th:href="@{/cliente/create/}"><i class="fa fa-user-plus"></i>&nbsp; Novo Cliente</a>
    </div>
    <!-- /.box-footer-->
</div>
<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>-->
<!--<script src="../src/jquery.paginate.js"></script>-->

<!--<script>-->
    <!--//call paginate-->
    <!--$('#tCliente').paginate({ 'perPage': 1 });-->
<!--</script>-->
</body>
</html>
