<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<!-- Default box -->
<div th:fragment="content" class="box box-primary">
    <p style="text-align: center; color: crimson; font-weight: bold" th:text="${messages}"></p>
    <div class="box-header with-border">
        <h3 class="box-title">Lista de Usuários</h3>

        <div class="box-tools pull-right">
        </div>
    </div>
    <div class="box-body no-padding">
        <table class="table table-stripped table-responsive table-hover">
            <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Perfil</th>
                <th>e-mail</th>
                <th>Status</th>
                <th>Criado em</th>
                <th>Desabilitado em</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="usuario : ${usuarios}">
                <td th:text="${usuario.id}"></td>
                <td th:text="${usuario.nome}"></td>
                <td th:text="${usuario.getPerfil_usuario().getPerfil()}"></td>
                <td th:text="${usuario.email}"></td>
                <td th:text="${usuario.informaSituacao()}"></td>
                <td th:text ="${usuario.getDt_criacao()}"></td>
                <td th:text ="${usuario.get_dt_Exclusao_index()}"></td>

                <td></td>
                <td>
                    <div class="btn-group pull-right">

                        <a th:href="@{/usuario/update/{id}(id=${usuario.id})}" class="btn btn-primary btn-sm">
                            <i class="fa fa-pencil margin-r-5"></i></a>


                        <a class="btn btn-danger btn-sm" th:href="@{/usuario/delete/{id}(id=${usuario.id})}">
                            <i class="fa fa-trash-o margin-r-5"></i></a>

                        <a class="btn btn-primary btn-sm"  th:href="@{/usuario/reabilitar/{id}(id=${usuario.id})}">
                            <i class="fa fa-recycle margin-r-5" ></i></a>

                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="box-footer">
        <a class="btn btn-success btn-sm" th:href="@{/usuario/create}"><i class="fa fa-user"></i>&nbsp; Novo Usuário</a>
    </div>
</div>
</body>
</html>