<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header::head">
</head>
<body class="hold-transition skin-blue sidebar-mini">

<div class="wrapper">
    <header th:replace="fragments/header :: header"></header>
    <aside th:replace="fragments/sidebar :: sidebar"></aside>


    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Núcleo de Prática Jurídica
                <small>da UFJF</small>
            </h1>

            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                <li><a href="#">Examples</a></li>
                <li class="active">Blank page</li>
            </ol>
        </section>

        <!-- Main content -->
        <section class="content">

            <div th:replace="${view} :: content"></div>

        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->



    <div th:replace="fragments/footer :: footer">
        Footer
    </div>
</div>
</body>
</html>