<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<!-- Default box -->
<div th:fragment="content" th:class="box">
    <div class="box-header with-border">
        <h3 class="box-title">Cadastro de Vara de Distribuição</h3>

    </div>

    <form role="form" action="#" th:object="${demanda}" th:action="@{/demandaJuridica/create}" th:method="POST">
        <div class="box-body">
            <div class="col-sm-12 form-group col-xs-12">
                <label>Demanda</label>
                <input th:field="*{demanda}" type="text" th:value="*{demanda}" class="form-control"/>

            </div>

        </div>
        <div class="box-footer">
            <button type="submit" class="btn btn-primary">Criar</button>
            <a class="btn btn-default" th:href="@{/demandaJuridica/index}">Voltar</a>
        </div>

    </form>




</div>
</body>
</html>