<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<!-- Default box -->
<div th:fragment="content" class="box box-primary">
   <p style="text-align: center; color: crimson; font-weight: bold" th:text="${messages}"></p>
    <div class="box-header with-border">
        <h3 class="box-title">Demanda Jurídica</h3>

        <div class="box-tools pull-right">
        </div>
    </div>
    <div class="box-body no-padding">
        <table class="table table-stripped table-responsive table-hover">
            <thead>
            <tr>
                <th>Id</th>
                <th>Nome</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="demanda: ${demandas}">
                <td th:text="${demanda.id}"></td>
                <td th:text="${demanda.demanda}"></td>
                <td>
                    <div class="btn-group pull-right">

                        <a th:href="@{/demandaJuridica/update/{id}(id=${demanda.id})}" class="btn btn-primary btn-sm">
                            <i class="fa fa-pencil margin-r-5"></i></a>


                        <a class="btn btn-danger btn-sm"  th:href="@{/demanda/delete/{id}(id=${demanda.id})}">
                            <i class="fa fa-trash-o margin-r-5"></i></a>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="box-footer">
        <a class="btn btn-success btn-sm" th:href="@{/demandaJuridica/create/}">Adicionar</a>

    </div>
</div>
</body>
</html>