<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<!-- Default box -->
<div th:fragment="content" class="box box-primary">
    <p style="text-align: center; color: crimson; font-weight: bold" th:text="${messages}"></p>
    <div class="box-header with-border">
        <h3 class="box-title">Setores</h3>

        <div class="box-tools pull-right">
        </div>
    </div>
    <div class="box-body no-padding">
        <table class="table table-stripped table-responsive table-hover">
            <thead>
            <tr>
                <th>Id</th>
                <th>Setor</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="setor : ${setores}">
                <td th:text="${setor.id}"></td>
                <td th:text="${setor.setor}"></td>
                <td>
                    <div class="btn-group pull-right">

                        <a th:href="@{/tipoSetor/update/{id}(id=${setor.id})}" class="btn btn-primary btn-sm">
                            <i class="fa fa-pencil margin-r-5"></i></a>

                        <a class="btn btn-danger btn-sm" th:href="@{/tipoSetor/delete/{id}(id=${setor.id})}">
                            <i class="fa fa-trash-o margin-r-5"></i></a>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="box-footer">
        <a class="btn btn-success btn-sm" th:href="@{/tipoSetor/create/}"><i class="fa fa-user-o"></i>&nbsp; Novo setor</a>
    </div>
</div>
</body>
</html>