<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<!-- Default box -->
<div th:fragment="content" th:class="box">
    <div class="box-header with-border">
        <h3 class="box-title">Desdobramentos</h3>
    </div>

    <form enctype="multipart/form-data" th:object="${desdobramento}" th:action="@{/desdobramento/update/{id}(id=${desdobramento.id})}"
          th:method="POST">
        <div class="col-sm-12 form-group col-xs-12">
            <label>setor</label>
            <input th:field="*{desdobramento}" type="text" th:value="*{desdobramento}" class="form-control"/>

        </div>

        <div class="box-footer">
            <button type="submit" class="btn btn-primary">Salvar</button>
            <a class="btn btn-default" th:href="@{/desdobramentos/index}">Voltar</a>
        </div>

    </form>

</div>
</body>
</html>