<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">


<body>

<!-- Default box -->
<div th:fragment="content" class="box box-primary">
    <p style="text-align: center; color: crimson; font-weight: bold" th:text="${messages}"></p>
    <div class="box-header with-border">
        <h3 class="box-title">Lista de Espera</h3>

        <div class="box-tools pull-right">

            <!--<a class="btn btn-success btn-sm" th:href="@{/listaEspera/create/}"><i class="fa fa-hourglass-1"></i></a>-->

        </div>
    </div>
    <div class="box-body no-padding">
        <table class="table table-stripped table-responsive table-hover">
            <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Demanda Jurídica</th>
                <th>Contato</th>
                <th>Observações</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="listaEspera : ${listaEsperas}">
                <td th:text="${listaEspera.id}"></td>
                <td th:text="${listaEspera.cliente.nome}"></td>
                <td th:text="${listaEspera.demandaJuridica.demanda}"></td>
                <td th:text="${listaEspera.cliente.telResidencial}"></td>
                <td th:text="${listaEspera.observacoes}"></td>

                <td>
                    <div class="btn-group pull-right">

                        <a th:href="@{/listaEspera/update/{id}(id=${listaEspera.id})}" class="btn btn-primary btn-sm">
                            <i class="fa fa-pencil margin-r-5"></i></a>


                        <a class="btn btn-danger btn-sm" th:href="@{/listaEspera/delete/{id}(id=${listaEspera.id})}">
                            <i class="fa fa-trash-o margin-r-5"></i></a>


                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="box-footer">

        <a class="btn btn-primary btn-sm" th:href="@{/controleHorario/index}"> Voltar</a>
        <a class="btn btn-success btn-sm" th:href="@{/listaEspera/create/}">Incluir na lista de espera</a>
    </div>
</div>
</body>
</html>