<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<!-- Default box -->
<div th:fragment="content" th:class="box">
    <div class="box-header with-border">
        <h3 class="box-title">Cadastro de Disponibilidade de Horário</h3>

    </div>
    <form role="form" action="#" th:object="${disponibilidadeHorario}" th:action="@{/disponibilidadeHorario/create}"
          th:method="POST" id="form_disponibilidade">
        <div class="box-body">
            <div id="aviso">

            </div>

            <div class="form-group col-md-8 col-sm-8" th:classappend="${#fields.hasErrors('colaborador.id')} ? has-error">
                <label>Colaborador</label>
                <select class="form-control" id="colaborador" th:field="*{colaborador.id}" required="true">
                    <option value="">Selecione um Colaborador</option>
                    <option th:each="colaborador : ${usuarios}" th:value="${colaborador.id}"
                            th:text="${colaborador.nome}"></option>
                </select>
                <span th:class="help-block" th:if="${#fields.hasErrors('colaborador.id')}"
                      th:errors="*{colaborador.id}"></span>
            </div>
            <div class="form-group col-md-4 col-sm-4"
                 th:classappend="${#fields.hasErrors('dia_semana')} ? has-error">
                <label>Dia da Semana</label>
                <select class="form-control" th:field="*{dia_semana}" required="true" id="dia_semana">
                    <option value="">Selecione um Dia da Semana</option>
                    <option th:each="dia:${T(ufjf.br.models.Semana).Semana()}" th:value="${dia}"
                            th:text="${dia.getNome()}"></option>
                </select>
                <span th:class="help-block" th:if="${#fields.hasErrors('dia_semana')}"
                      th:errors="*{dia_semana}"></span>
            </div>
            <div class="form-group col-md-2 col-sm-2"
                 th:classappend="${#fields.hasErrors('horarioinicio')} ? has-error">
                <label>Horário de Início</label>
                <input th:field="*{horarioinicio}" type="time" th:value="*{horarioinicio}" class="form-control"
                       id="hora_ini" required="true"/>
                <span th:class="help-block" th:if="${#fields.hasErrors('horarioinicio')}"
                      th:errors="*{horarioinicio}"></span>
            </div>
            <div class="form-group col-md-2 col-sm-2"
                 th:classappend="${#fields.hasErrors('horariofim')} ? has-error">
                <label>Horário de Término</label>
                <input th:field="*{horariofim}" type="time" th:value="*{horariofim}" class="form-control"
                       id="hora_fim" required="true"/>
                <span th:class="help-block" th:if="${#fields.hasErrors('horariofim')}"
                      th:errors="*{horariofim}"></span>
            </div>
            <div class="form-group col-md-2 col-sm-2">
                <label>&nbsp;</label>
                <button type="button" class="btn btn-success form-control" id="btn-carga">Calcular</button>
            </div>
            <div class="form-group col-md-2 col-sm-2">
                <label>Carga Horária</label>
                <input required="true" th:field="*{cargahoraria}" type="time" th:value="*{cargahoraria}"
                       class="form-control" id="carga_horaria"/>
            </div>
            <div class="form-group col-md-2 col-sm-2">
                <label>&nbsp;</label>
                <button type="submit" class="btn btn-success form-control" id="btnAdicionar">Adicionar</button>
            </div>
            <div class=" col-md-12 col-sm-12 table-responsive">

                <table class="table" id="table-temp">
                    <thead>
                    <tr>
                        <th>Usuário</th>
                        <th>Dia</th>
                        <th>Horário de Início</th>
                        <th>Horário de Fim</th>
                        <th>Carga Horária</th>
                    </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
        <div class="box-footer">
            <button type="submit" class="btn btn-primary" id="btnSalvar">Salvar Todas</button>
            <a class="btn btn-default" th:href="@{/disponibilidadeHorario/index}">Voltar</a>
        </div>
    </form>
    <script type="text/javascript" th:src="@{/js/disponiblidadeHorario.js}" charset="utf-8"></script>
</div>
</body>
</html>
