<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<!-- Default box -->
<div th:fragment="content" class="box box-primary">
    <p style="text-align: center; color: crimson; font-weight: bold" th:text="${messages}"></p>
    <div class="box-header with-border">
        <h3 class="box-title">Lista de Disponibilidades</h3>

        <div class="box-tools pull-right">

            <a class="btn btn-success btn-sm" th:href="@{/disponibilidadeHorario/create/}"><i class="fa fa-plus"></i></a>

        </div>
    </div>
    <div class="box-body no-padding">
        <table class="table table-stripped table-responsive table-hover">
            <thead>
            <tr>
                <th>Nome do Aluno</th>
                <th>Dia da Semana</th>
                <th>Horário de Início</th>
                <th>Horário de Término</th>
                <th>Carga Horária</th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="disponibilidade : ${disponibilidades}">
                <td th:text="${disponibilidade.usuario.nome}"></td>
                <td th:text="${disponibilidade.dia_semana.nome}"></td>
                <td th:text="${disponibilidade.horarioinicio}"></td>
                <td th:text="${disponibilidade.horariofim}"></td>
                <td th:text="${disponibilidade.cargahoraria}"></td>
                <td>
                    <div class="btn-group pull-right">

                        <a th:href="@{/disponibilidadeHorario/update/{id}(id=${disponibilidade.id})}" class="btn btn-primary btn-sm">
                            <i class="fa fa-pencil margin-r-5"></i></a>


                        <a class="btn btn-danger btn-sm" th:href="@{/disponibilidadeHorario/delete/{id}(id=${disponibilidade.id})}">
                            <i class="fa fa-trash-o margin-r-5"></i></a>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="box-footer">
        <a class="btn btn-success btn-sm" th:href="@{/disponibilidadeHorario/create/}"><i class="fa fa-calendar-plus-o"></i>&nbsp; Nova atribuição de horário</a>
    </div>
</div>
</body>
</html>